{% extends 'layout.html.twig' %}

{% block title %} Mes musiques -
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Mes musiques</h1>
	<div>
		<table class="table table-responsive">
			<tr>
				<th>Titre</th>
				<th>Artiste</th>
				<th>audio</th>
			</tr>
		</thead>
		<tbody>
			{% for music in musics %}
				<tr>
					<td>{{ music.name }}</td>
					<td>{{ music.user.firstName ~ ' ' ~  music.user.lastName }}</td>
					<td>
						<figure>
							<audio controls src="{{ asset('build/audio/' ~ music.audio) }}"></audio>
						</figure>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}