{% extends 'layout.html.twig' %}

{% block title %}Votre Profil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div>
		<table>
			<tr>
				<th>Titre</th>
				<th>Artiste</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for music in user.favorite %}
				<tr>
					<td>{{ music.name }}</td>
					<td>{{ music.user.firstName ~ ' ' ~  music.user.lastName }}</td>
					<td>
						<figure>
							<audio controls src="{{ asset('build/audio/' ~ music.audio) }}"></audio>
						</figure>
					</td>
					<td>
						<a>
							<i class="bi bi-heart-fill"></i>
						</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
