{% extends 'admin.html.twig' %}

{% block title %}Modifé une musique{% endblock %}

{% block body %}
    <h1>Modifé une musique</h1>

    {{ include('music/_form.html.twig', {'button_label': ' Enregistré'}) }}

    <a href="{{ path('app_music_index') }}">Retour à la liste</a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
