$primary: #88A0BF;
$primary-light: #adbdd1;
$dark: #130A26;
$dark-light: #170d2c;
$secondary: #04D9D9;
$secondary-light: #9af5f5;
$light: #e4e7ec;
$danger: #F24B4B;
$success-light: #3ba72a;
$tertiary: #2A2773;
$dark-opacity: rgba(8, 8, 11, 0.4);

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $dark-light;

$font-base: "Roboto", sans-serif;
$font-card-title: "SnellBT-Regular", sans-serif;
$font-title: "Fontspring-TheSeasons", sans-serif;
$font-size-mid: 2rem;

$font-family-base: $font-base;
$shadow-primary: 0.5rem 0.5rem 1rem rgba(189, 173, 53, 0.1);

$background-gradient-color: linear-gradient(90deg, rgba(0,204,229,1) 0%, rgba(255,84,78,1) 53%, rgba(46,40,122,1) 100%);
