@import "_theme.scss";

/* image */
img {
    object-fit: cover;
    width: 100%;
}

/* all web site */
.container-body {
    margin-top: 10rem;
}

/* title */
.title-page-main {
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* nav bar */
.logoNavBar {
    width: 7%
}

nav {
    background: $background-gradient-color;
}

/* footer */
.footer-copyright-part {
    background: $background-gradient-color;
}

.line-footer {
    width: 75%;
    height: 2px;
    background: $background-gradient-color;
    margin-bottom: 2rem;
}

/* card */
.card-type-background {
    background: $background-gradient-color;
}

/* add music form */
.border-add-music-form {
    border: solid 2px $secondary;
}

/* button */
.btn{
    background-color: $primary-light;
    color: $dark;
}   

/* my heart */
.bi-heart-fill{
    color: $danger;
}
.bi-heart{
    color: $danger;
}
