<footer class="bg-link text-center">
	<div class="d-flex justify-content-center pt-5 mt-5">
		<div class="line-footer"></div>
	</div>
	<div class="container">
		<section class="mb-4">
			<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button">
				<i class="bi bi-facebook"></i>
			</a>
			<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button">
				<i class="bi bi-twitter"></i>
			</a>
			<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button">
				<i class="bi bi-google"></i>
			</a>
			<a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button">
				<i class="bi bi-instagram"></i>
			</a>
			<a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button">
				<i class="bi bi-linkedin"></i>
			</a>
		</section>

		<section class="mb-4">
			<p>
				Découvrez un site de musique révolutionnaire offrant une bibliothèque sonore inégalée. Plongez dans un océan de mélodies envoûtantes, explorez des genres variés et laissez-vous emporter par une expérience auditive immersive. Une plateforme incontournable pour les passionnés de musique.
			</p>
		</section>
	</div>
	<div class="text-center p-3 footer-copyright-part text-dark">
		© 2023 Copyright:
		<a class="text-dark" href="/">MusicMaestro</a>
	</div>
</footer>
