{% extends 'layout.html.twig' %}

{% block body %}
<h1 class="text-center mb-5 title-page-main">Oh là là ! Ça sent le blues de la page 404 !</h1>
<p class="text-center p-5">	
♪ Bienvenue au royaume des liens brisés et des chemins perdus ♪

Notre équipe de DJ développeurs travaille sur le bug, mais en attendant, explorez notre page d'accueil pour des aventures musicales captivantes ♫♪

Besoin d'aide ? Contactez notre équipe d'assistance pour une solution harmonieuse ♪♪</p>

<img class="error" src="{{ asset('build/images/error1.gif') }}" alt="error">
{% endblock %}

