{% extends 'layout.html.twig' %}

{% block body %}
<h1>Bienvenue dans notre univers musical en ligne ! vous avez une erreur {{status_code}}</h1>
<p>Il semblerait que vous ayez dévié de votre partition. Pas de souci, nous sommes là pour rétablir l'harmonie. Plongez dans notre scène sonore, explorez les mélodies envoûtantes et laissez-vous transporter par notre répertoire varié. Besoin d'aide pour trouver une chanson ? Contactez notre équipe dévouée. Profitez de ce voyage musical et gardez un rythme enchanteur !</p>
{% endbock %}
